Source: backurne
Section: admin
Priority: optional
Maintainer: Alexandre Bruyelles <backurne@jack.fr.eu.org>
Build-Depends: debhelper (>= 11),
               dh-python,
               python3-setuptools,
               python3,
Standards-Version: 4.3.0
Rules-Requires-Root: no
Homepage: https://github.com/JackSlateur/backurne

Package: backurne
Architecture: any
Depends: python3-termcolor,
         python3-pkg-resources,
         python3-ptable | python3-prettytable,
         python3-requests,
         python3-proxmoxer,
         python3-sh,
         python3-dateutil,
         python3-filelock,
         ceph-common (>= 12.2.0),
         rbd-nbd (>= 12.2.0),
         kpartx,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: xxhash,
          jq,
Description: Backup Ceph's RBD on Ceph, with Proxmox integration
 backurne is a handy tool for backuping RBD's image on RBD.
 Yep ! What is better, for backuping a Ceph cluster, than another Ceph cluster ?
 .
 It does not do much by itself, though, but orchestrate and relies
 heavily on other tools.
 It has a fine integration with Proxmox, but is able to backup "plain"
 (or "raw RBD") cluster as well.
 .
 Supported features
   - Snapshot-based backup, with no agent strictly required on the VM.
 .
   - Backup inspection and restoration via command line interface as well as
     via REST API.
 .
  -  Support multiple retention policy efficiently (both in term of storage
     and network bandwidth), dynamically configurable per host (proxmox-only)
     via REST API.
 .
  - Auto cleanup : deletion is never generated by a human, thus no human
    mistakes.
 .
  - Compression and encryption "on the wire" for enhanced efficiency
    and security.
 .
  - Peaceful integration with other snapshots (via Proxmox web interface
    or whatever).
 .
  - Multiple cluster support, with mixed type ("proxmox" and "plain").
 .
  - A couple of backups can be stored on the live clusters, for faster recovery.
 .
  - Optional fsfreeze support (proxmox-only) via Qemu-quest-agent.
 .
  - Backup deactivation via Proxmox's web interface.
 .
  - VM tracking, for those who uses a single Proxmox cluster with
    multiple Ceph backend.
 .
  - Encryption and compression at rest are also seamlessly supported
    via Bluestore OSDs (see https://ceph.com/community/new-luminous-bluestore/)
